<div class="letterhead">
	<div class="row">
		<div class="col-8 ">
			<img height="85"  alt="" src="<%=baseUrl%>/images/FWmembrete.png">
		</div>
		<div class="col-4 text-right">
			<div class="numorder">
				Pedido: <%=order.TIPPCL%>-<%=order.CODPCL%>
			</div>
		</div>
	</div>
</div>
